
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

a{
    color:blueviolet;
    color: rgb(225, 217, 230);
    font-family: 'Aladin', cursive;
    font-size: 44px;
}

header{
    background-color: white;
    font-family: 'Aladin', cursive;
    font-size: 33px;
}

h3{
    font-family: 'Sacramento', cursive;
    font-size: 33px;
}

body{
    background-color: white;
}

nav{
    background-color:rgb(147, 129, 223);
}

footer{
    background-color: rgb(77, 72, 160);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color:rebeccapurple;
    justify-content: center;
    
}

#mom{
    background-color: rgb(145, 112, 142);  
    justify-content: center;
    display: flex;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.lista{
    flex-direction: row;
    display: flex;
    gap:10px;
}

.caja{
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 100%;
    background-color: rgb(80, 80, 149);
    color: white;
    font-size: 22px;
} 

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
